.container {
    display: flex;
    border: 1px solid black;
    max-width: 350px;
}

.item {
    color: white;
    background-color: darkblue;
    flex: 1; /** distribui os items pelo box*/
    margin: 5px;
    text-align: center;
}


.center {
    align-items: center;
}

.flex {
    flex: 1;
}

.stretch {
    align-items: stretch;
}

.start {
    align-items: flex-start;
}

.end {
    align-items: flex-end;
}

.baseline {
    align-items: baseline;
}